:root {
  --main_color: #fff;
  --accent: #0962e8;
  --text_color: #29374e;
  --header_background: #cbecff;
  --card_background: #e9f6ff;
}

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

.center {
  padding-left: calc(50% - 1024px / 2);
  padding-right: calc(50% - 1024px / 2);
}

.text_accent {
  color: var(--accent);
}

.button {
  display: block;
  width: fit-content;
  font-size: 18px;
  text-decoration: none;
  padding: 16px 33px;
  border-radius: 8px;
  color: var(--main_color);
  background: var(--accent);
}

.icon {
  color: var(--accent);
}

.header {
  position: relative;
  height: 768px;
  background: var(--header_background);
}

.switch_language {
  position: absolute;
  top: 29px;
  left: 0;
  right: 0;
  padding: inherit;
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
}

.switch_language__button {
  all: unset;
  cursor: pointer;
  color: var(--text_color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.switch_language__button_active {
  background: #fff;
  color: var(--accent);
  border-radius: 12px;
  padding: 2px;
}

.header_slogan {
  padding-top: 122px;
  width: 384px;
  position: inherit;
  z-index: 2;
}

.header_slogan__title {
  color: var(--text_color);
  font-size: 64px;
  font-weight: 700;
  line-height: 130%;
}

.header_slogan__text {
  padding-right: 5px;
}

.header_slogan__title .text_accent {
  padding: 2px 12px;
  background: var(--main_color);
  border-radius: 20px;
}

.header_slogan__description {
  margin-top: 11px;
  color: var(--text_color);
  font-size: 22px;
  font-weight: 400;
  line-height: 130%; /* 28.6px */
}

.header_slogan .button {
  margin-top: 38px;
}

.header_mockup {
  position: absolute;
  top: 60px;
  right: 0;
  padding: inherit;
  z-index: 1;
}

.header_mockup img {
  max-height: 648px;
  height: 100%;
}

.header_container {
  position: absolute;
  bottom: -20px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 20px;
  z-index: 2;
}

.advantage {
  width: 241px;
  height: 118px;
  border-radius: 20px;
  background: var(--main_color);
  box-shadow: 6px 4px 12px 0px rgba(0, 0, 0, 0.05);
  position: relative;
}

.advantage__text {
  padding-top: 22px;
  padding-left: 20px;
  width: 170px;
  color: var(--text_color);
  font-size: 16px;
  font-weight: 500;
  line-height: 140%; /* 22.4px */
}

.advantage_img {
  padding: 10px;
  border-radius: 100%;
  background: var(--header_background);
  position: absolute;
  top: 16px;
  right: 22px;
}

.products_title {
  width: 750px;
  margin: 0 auto;
  margin-top: 150px;
  color: var(--text_color);
  text-align: center;
  font-size: 38px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -1.14px;
}

.products {
  margin-top: 44px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 16px 20px;
}

.product__card {
  height: 328px;
  border-radius: 30px;
  padding: 37px 20px 0;
  background: var(--card_background);
  display: flex;
  justify-content: space-between;
}

.product__card_description {
  display: flex;
  flex-flow: column nowrap;
  gap: 12px;
  max-width: 210px;
}

.product__card_title {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  line-height: 140%;
}

.product__card_text {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}

.product__card_img img {
  height: 100%;
}

.our_offers {
  margin-top: 114px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.our_offers__info {
  grid-column: span 2;
  grid-row: span 2;
}

.our_offers__info__title {
  color: var(--text_color);
  font-size: 38px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -1.14px;
}

.our_offers__info__text {
  max-width: 405px;
  margin-top: 21px;
  color: #1e2837;
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
}

.offers_button {
  margin-top: 37px;
}

.our_offers__cards {
  height: 140px;
  border-radius: 30px;
  padding: 17px 28px 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  gap: 13px;
}

.our_offers__cards__img {
  padding: 10px;
  border-radius: 100%;
  background: #eff9ff;
}

.our_offers__cards__text {
  color: var(--text_color);
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
}

.footer {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* tablet */
@media (width <= 1024px) {
  .center {
    padding-left: calc(50% - 768px / 2);
    padding-right: calc(50% - 768px / 2);
  }

  .header {
    height: auto;
    display: flex;
    flex-flow: column-reverse;
    padding-bottom: 33px;
  }

  .header_slogan {
    padding: 0;
  }

  .header_mockup {
    padding-top: 50px;
    position: static;
  }

  .header_container {
    margin-top: 22px;
    position: static;
    order: -1;
  }
}

/* mobile */
@media (width <= 375px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }

  .product__card {
    height: 215px;
  }
}
