:root {
  --main_color: #fff;
  --accent: #0962e8;
  --text_color: #29374e;
  --header_background: #cbecff;
  --card_background: #e9f6ff;
}

* {
  font-family: "Inter", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

.center {
  padding-left: calc(50% - 1024px / 2);
  padding-right: calc(50% - 1024px / 2);
}

.text_accent {
  color: var(--accent);
}

.button {
  display: block;
  width: fit-content;
  font-size: 18px;
  text-decoration: none;
  padding: 16px 33px;
  border-radius: 8px;
  color: var(--main_color);
  background: var(--accent);
  text-align: center;
}

.icon {
  color: var(--accent);
}

.header {
  position: relative;
  height: 803px;
  background: var(--header_background);
  background: linear-gradient(180deg, var(--header_background) 768px, #fff 0%);
  overflow: hidden;
}

.switch_language {
  position: absolute;
  top: 29px;
  left: 0;
  right: 0;
  padding: inherit;
  display: flex;
  flex-direction: row-reverse;
  gap: 20px;
}

.switch_language__button {
  all: unset;
  cursor: pointer;
  color: var(--text_color);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%;
}

.switch_language__button_active {
  background: #fff;
  color: var(--accent);
  border-radius: 12px;
  padding: 2px;
}

.header_slogan {
  padding-top: 122px;
  /* max-width: 384px; */
  position: inherit;
  z-index: 2;
}

.header_slogan__title {
  color: var(--text_color);
  font-size: 64px;
  font-weight: 700;
  line-height: 130%;
}

.header_slogan__text {
  padding-right: 5px;
}

.header_slogan__title .text_accent {
  padding: 2px 12px;
  background: var(--main_color);
  border-radius: 20px;
}

.header_slogan__description {
  max-width: 384px;
  margin-top: 11px;
  color: var(--text_color);
  font-size: 22px;
  font-weight: 400;
  line-height: 130%; /* 28.6px */
}

.header_slogan .button {
  margin-top: 38px;
}

.header_mockup {
  position: absolute;
  top: 60px;
  right: -20px;
  padding: inherit;
  z-index: 1;
}

.header_mockup img {
  max-height: 648px;
  height: 100%;
}

.header_container {
  position: absolute;
  bottom: 10px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 20px;
  z-index: 2;
}

.advantage {
  width: 241px;
  height: 118px;
  border-radius: 20px;
  background: var(--main_color);
  box-shadow: 6px 4px 12px 0px rgba(0, 0, 0, 0.05);
  position: relative;
}

.advantage__text {
  padding-top: 22px;
  padding-left: 20px;
  width: 170px;
  color: var(--text_color);
  font-size: 16px;
  font-weight: 500;
  line-height: 140%; /* 22.4px */
}

.advantage_img {
  padding: 10px;
  border-radius: 100%;
  background: #eff9ff;
  position: absolute;
  top: 16px;
  right: 22px;
}

.products_title {
  max-width: 750px;
  margin: 0 auto;
  margin-top: 115px;
  color: var(--text_color);
  text-align: center;
  font-size: 38px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -1.14px;
}

.products {
  margin-top: 44px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  gap: 16px 20px;
}

.product__card {
  height: 328px;
  border-radius: 30px;
  padding: 37px 20px 0;
  background: var(--card_background);
  display: flex;
  justify-content: space-between;
}

.product__card_description {
  display: flex;
  flex-flow: column nowrap;
  gap: 12px;
  max-width: 210px;
}

.product__card_title {
  color: #000;
  font-size: 20px;
  font-weight: 600;
  line-height: 140%;
}

.product__card_text {
  color: #000;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;
}

.product__card_img img {
  height: 100%;
}

.our_offers {
  margin-top: 114px;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.our_offers__info {
  grid-column: span 2;
  grid-row: span 2;
}

.our_offers__info__title {
  color: var(--text_color);
  font-size: 38px;
  font-weight: 500;
  line-height: 130%;
  letter-spacing: -1.14px;
}

.our_offers__info__text {
  max-width: 405px;
  margin-top: 21px;
  color: #1e2837;
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
}

.offers_button {
  margin-top: 37px;
}

.our_offers__cards {
  height: 140px;
  border-radius: 30px;
  padding: 17px 28px 0;
  display: flex;
  flex-flow: column nowrap;
  align-items: flex-start;
  gap: 13px;
  box-shadow: 6px 4px 12px 0px rgba(0, 0, 0, 0.05);
}

.our_offers__cards__img {
  padding: 10px;
  border-radius: 100%;
  background: #eff9ff;
}

.our_offers__cards__text {
  color: var(--text_color);
  font-size: 14px;
  font-weight: 500;
  line-height: 140%;
}

.footer {
  padding-top: 10px;
  padding-bottom: 10px;
}

/* tablet */
@media (width <= 1024px) {
  .center {
    padding-left: 60px;
    padding-right: 60px;
  }

  .header_mockup img {
    max-height: 50vw;
  }
}

@media (width <= 800px) {
  .header {
    display: flex;
    flex-flow: column;
    background: var(--header_background);
    height: auto;
    padding-bottom: 33px;
  }

  .switch_language__button:not(:first-child) {
    margin-left: 10px;
  }

  .header_slogan {
    padding: 0;
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 12px;
  }

  .header_slogan__title {
    font-size: 46px;
  }

  .header_slogan * {
    margin: 0 !important;
  }

  .header_slogan__description {
    max-width: 338px;
  }

  .header_mockup {
    position: static;
    padding: 0;
    padding-top: 33px;
    order: -1;
  }

  .header_mockup img {
    max-height: none;
    width: calc(100vw - 120px);
  }

  .header_container {
    margin-top: 17px;
    position: static;
    gap: 20px 15px;
  }

  .products_title {
    margin-top: 40px;
  }

  .products {
    margin-top: 24px;
  }

  .product__card {
    padding-top: 25px;
    height: 45vw;
  }

  .product__card_description {
    gap: 4px;
  }

  .product__card_title {
    font-size: 18px;
  }

  .our_offers {
    grid-template-columns: repeat(2, 1fr);
  }

  .our_offers__info {
    display: flex;
    flex-flow: column;
    align-items: center;
  }

  .our_offers__info > * {
    margin: 0;
  }

  .our_offers__info__title {
    text-align: center;
  }

  .our_offers__info__text {
    text-align: center;
  }

  .offers_button {
    margin-top: 12px;
  }
}

/* mobile */
@media (width <= 425px) {
  .center {
    padding-left: 16px;
    padding-right: 16px;
  }

  .header_mockup img {
    width: 100vw;
  }

  .header_slogan {
    align-items: start;
  }

  .header_slogan__description {
    max-width: unset;
    font-size: 16px;
  }

  .header_slogan .button {
    width: 100%;
  }

  .products_title {
    font-size: 24px;
    font-weight: 600;
  }

  .advantage {
    width: 164px;
    height: 118px;
  }

  .advantage__text {
    font-size: 14px;
    padding: 42px 18px 0 10px;
  }

  .advantage_img {
    right: unset;
    left: 18px;
    top: -5%;
  }

  .product__card {
    height: 215px;
  }

  .product__card_description {
    max-width: 162px;
    gap: 2px;
  }

  .product__card_title {
    font-size: 16px;
  }

  .product__card_text {
    font-size: 13px;
  }

  .our_offers {
    margin-top: 40px;
  }

  .our_offers__info__title {
    font-size: 24px;
  }

  .our_offers__info__text {
    font-size: 14px;
  }

  .offers_button {
    width: 100%;
  }

  .our_offers__cards {
    position: relative;
    padding: 42px 18px 0 10px;
  }

  .our_offers__cards__img {
    position: absolute;
    left: 18px;
    top: -5%;
  }
}
